<!DOCTYPE html>
<html>
  <head>
    <title>Sholgram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: white">

    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Sholgram 7.0</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"><%= link_to 'Inicio', home_index_path, class: "nav-link" %> <span class="sr-only">(current)</span></a>
          </li>

          <%- if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Agregar Imagen', new_image_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'Salir', destroy_user_session_path, method: :delete,
              class: "nav-link" %>
            </li> 

          <% else %>
            <li class="nav-item">
              <%= link_to ' Iniciar ', new_user_session_path,
              class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to ' Registrarme ', new_user_registration_path,
              class: "nav-link" %>
            </li>
          <% end %>
        </ul>   
     </div>
    </nav>
   

    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    	<%= yield %>
    </div>
  </body>
</html>
